.side-box.chat-room{
    padding: 0px;
    background:#F3F3F3;

    .chat-minimize{
        position: absolute;
        padding: .5rem;
        height: 70px;
        border-radius: 10px 0px 0px 10px;
        margin-left: -23px;
        top: 50%;
        margin-top: -70px;
        cursor: pointer;

        img{width: 16px;}
    }

    .chat-msgs{
        height: 100%;
        
        .chat-form{
            position: relative;
            height: 100%;
    
            textarea{
                font-family: 'Open sans', sans-serif;
                font-size: .9rem;
                width: 100%;
                max-width: 350px;
                padding: .5rem;            
                border: none;
                border-top:1px solid #ddd;
                overflow: hidden;
                resize: none;
    
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }

}