body{
    margin: 0px;
    padding: 0px;
    font-family:'Open sans', sans-serif;
    font-size: 16px;
    *{box-sizing: border-box;}

    a{color: #579BF3;}
    button{border: none; outline: none;}

    display: flex;
    overflow: hidden;
}


.video-frame{
    background: #3E3E3E;
    width: 100vw;
    height: 100vh;
    position:relative;
    flex: 0 1 auto;
    transition: ease flex-shrink .5s;

    &.full-width{
        flex: 0 0 auto;
    }
}

.side-box{
    background: #fff;
    display: block;
    padding: 3rem;
    min-width: 350px;

    &.closed{
        width: 0px;
        overflow: hidden;
    }
}

.link-group{
    display: flex;
}



.login-form{
    width: 100%;
    margin-top: 4rem;

    .btn-primary{
        margin-top:1rem;
    }
}

.form-group{
    margin-bottom: 1rem;

    label{
        width: 100%;
        display: block;
        font-size: .8rem;
    }

    input{
        padding: .7rem;
        font-size: 1rem;
        font-family:'Open sans', sans-serif;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 100%;
    }
}