<div class="video-frame">
    <div class="btn-group">
        <button class="btn-circle btn-sm" title="Desativar áudio">
            <img src="img/microphone.svg" />
        </button>
        <button class="btn-circle power-on" title="Criar uma sala">
            <img src="img/off.svg" />
        </button>
        <button class="btn-circle btn-sm" title="Desativar vídeo">
            <img src="img/film.svg" />
        </button>
    </div>
</div> 
<div class="side-box">
    <button type="submit" class="btn-primary">Criar sala</button>
</div>