<div class="video-frame">
    <!---vídeo do usuario aqui-->    
</div>
<div class="side-box">
    <h2>Nick Laive</h2>
    <p>Entre para criar uma sala</p>
    <form class="login-form">
        <div class="form-group">
            <label for="username">Nome de usuário</label>
            <input type="text" name="username" id="username"  required/>
        </div>
        <div class="form-group">
            <label for="pass">Senha</label>
            <input type="password" name="pass" id="pass"  required/>
        </div>
        <button type="submit" class="btn-primary">Entrar</button>
    </form>
    <p>Não tem uma conta? <a href="#">Cadastre-se</a></p>
</div>