<div class="video-frame">
    <div class="btn-group">
        <button class="btn-circle btn-sm" title="Desativar áudio">
            <img src="img/microphone.svg" />
        </button>
        <button class="btn-circle power-off" title="Sair da sala">
            <img src="img/off.svg" />
        </button>
        <button class="btn-circle btn-sm" title="Desativar vídeo">
            <img src="img/film.svg" />
        </button>
    </div>
</div> 
<div class="side-box">
    <a class="link-sala" href="#">
        https://nick.live/linkdaSala
    </a>
    <div class="link-group">
        <button type="button" class="btn-link">Copiar link</button>
        <button type="button" class="btn-primary">Compartilhar</button>
    </div>
</div>